#board-detail {
  width: 1100px;
  height: auto;
  /* height:500px; */
  margin: 0 auto;
  /* background-color: #f2f2f2; */
}
#board-detail> #title{
    width:1000px;
    height:30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #222328;
}
#board-detail> #contents{
    width:1000px;
    height:300px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #222328;
}
#board-detail> #writer{
    width:300px;
    height:30px;
    background-color: #f2f2f2;
}
#board-detail> #writeDate{
    width:300px;
    height:30px;
    background-color: #f2f2f2;
}

#re-board> #re-title{
    width:1000px;
    height:30px;
    background-color: #f2f2f2;
}
#re-title> input{
    position:relative;
    left:10px;
    width:500px;
}
#re-board> #re-contents{
    width:1000px;
    height:280px;
    background-color: #f2f2f2;
}
#re-contents>label{
    position: relative;
    bottom:130px;
}
#re-contents>textarea{
    width: 800px;
    height:260px;
    position:relative;
    top:10px;
    left:10px;
}
#re-board> #re-writer{
    width:300px;
    height:30px;
    background-color: #f2f2f2;
}
#re-writer> input{
    position:relative;
    left:10px;
}
#re-board> #re-writeDate{
    width:300px;
    height:30px;
    background-color: #f2f2f2;
}
#re-writeDate> input{
    position:relative;
    left:10px;
}