#contact {
    width:1180px;
    height:550px;
    background-color:#f2f2f2;
    margin:0 auto;
}
#kakao{
    position:relative;
    left:25px;
    top:25px;
    width:500px;
    height:500px;
    /* background-color: coral; */
}
#add{
    position:relative;
    left: 550px;
    bottom:400px;
    width:530px;
    height:30px;
    /* background-color: aqua; */
    font-size: large;
    font-weight: bold;
}
#add-up{
    position:relative;
    top:25px;
    width:630px;
    height:100px;
    /* background-color: antiquewhite; */
}