#header {
  display: inline-block;
  width: 1200px;
  height: 100px;
  /* background-color: coral; */
}
#header > #logo {
  float:left;
  width:300px;
  height:60px;
}
#header>#logo>a{
  position:relative;
  top:25px;
  left:30px;
}
#header > #nav {
  float:left;
  width:900px;
  height:100px;
  /* background-color:coral; */
}
#btn {
  float:right;
  position:relative;
  right:30px;
  top:30px;
}
#btn > li {
  float:left;
}
#nav > ul > li > a {
  display: block;
  width: 150px;
  height: 40px;
  /* background-color: indianred; */
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  color: #333;
}
#nav > ul > li > a:hover {
  background-color: #333;
  color: #fff;
}
