#home{
    width:100%;
    height:525px;
    background-color: #f2f2f2;
}
#movie{
    display: inline-block;
    margin-top:10px;
    margin-left:10px;
    width:525px;
    height:410px;
    background-color:antiquewhite;
}
#slide{
    position:relative;
    bottom:20px;
    margin-left:535px;
    width:350px;
    height:260px;
    background-color:aquamarine;
}
#open-time{
    position:relative;
    left:35px;
    bottom: 280px;
    margin-left:860px;  
    width:280px;
    height:290px;
    /* background-color:aquamarine; */
}
#open-time>#open-header{
    width:100%;
    height:25px;
    font-size: large;
    font-weight: bold;
}
#open-time>#open-img{
    width:100%;
    height:265px;
}
#open-img>img{
    width:100%;
    height:100%;
}
#boardinfo{
    position: relative;
    bottom:240px;
    left:550px;
    width: 500px;
    height: 160px;
    /* background-color: aquamarine; */
}
#boardinfo>#board-header{
    width:100px;
    height:20px;
    font-size: large;
    font-weight: bold;
}
#boardinfo>#board-contents{
    width:100%;
    height:auto;
    /* background-color: bisque; */
}
#notice_list{
    width:480px;
    height:auto;
    background:  #ffffff;
}
#notice_list > li:first-child{
    margin-top: 5px;
}
#notice_list > li{
    position: relative;
    font-size:12px;

    display:inline-block;
    width:280px;
    height:20px;
    background:  #ffffff;
    /* border:1px solid #222328; */

    padding:4px;
    padding-right: 0px;
}
#notice_list > li > span{
    position: absolute;
    left:285px;
    bottom:0px;
    display:inline-block;
    width:120px;
    height:20px;
    background:  #ffffff;
    /* border:1px solid #222328; */

    padding:4px;
    padding-right: 10px;
}