/* #slide{
    margin-left:600px;
    width:315px;
    height:225px;
    background-color:aquamarine;
} */
#my-slide-element{
    width:350px;
    height:260px;
}
#my-slide-element>img{
    width:100%;
    height:100%;
}
/* #next, #prev{
    position:absolute;
    top:50%;
    z-index:2;
}
#next{
    left:5%;
}
#prev{
    left:95%;
} */
.slick-prev::before, .slick-next::before{
    content:'' !important;
}