*{
  margin:0;
  padding:0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color:#000000;
}
#App{
  width:1200px;
  /* height:700px; */
  height:auto;
  /* background-color:aqua; */
  margin:0 auto;
}