#gallery{
    width:1100px;
    height:auto;
    /* height:500px; */
    /* background-color: royalblue; */
    margin:0 auto;
}
#gallery>#new-write{
    width:100px;
    height:30px;
    float:right;
    position: relative;
    bottom: 75px;
    left: 35px;
}