#home{
    width:100%;
    height:525px;
    background-color: #f2f2f2;
}
#movie{
    position: relative;
    left: 20px;
    top:50px;
    width:525px;
    height:420px;
    /* background-color:antiquewhite; */
}
#movie> video{
    position: relative;
    bottom: 20px;
    width:100%;
    height:100%;
}
#slide{
    position:relative;
    bottom:370px;
    left: 20px;
    margin-left:535px;
    width:350px;
    height:260px;
    /* background-color:aquamarine; */
}
#open-time{
    position:relative;
    left:50px;
    bottom: 660px;
    margin-left:860px;  
    width:280px;
    height:290px;
    /* background-color:aquamarine; */
}
#open-time>#open-header{
    width:100%;
    height:25px;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid #223238;
}
#open-time>#open-img{
    width:100%;
    height:265px;
}
#open-img>img{
    width:100%;
    height:100%;
}
#boardinfo{
    position: relative;
    bottom:600px;
    left:560px;
    width: 480px;
    height: 141px;
    border: 1px solid #223238;
    /* background-color: aquamarine; */
}
#boardinfo>#board-header{
    width:480px;
    height:20px;
    padding-bottom: 3px;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid #223238;
}
#boardinfo>#board-contents{
    width:100%;
    height:auto;
    /* background-color: bisque; */
}
#notice_list{
    width:480px;
    height:auto;
    background:  #ffffff;
}
#notice_list > li:first-child{
    margin-top: 5px;
}
#notice_list > li{
    position: relative;
    font-size:12px;

    display:inline-block;
    width:280px;
    height:20px;
    background:  #ffffff;
    /* border:1px solid #222328; */

    padding:4px;
    padding-right: 0px;
}
#notice_list > li > span{
    position: absolute;
    left:285px;
    bottom:0px;
    display:inline-block;
    width:120px;
    height:20px;
    background:  #ffffff;
    /* border:1px solid #222328; */

    padding:4px;
    padding-right: 10px;
}