#takeboard{
    width:100%;
    height:40px;
    /* background-color:blanchedalmond; */
    margin-bottom:1px;
    border-bottom:1px solid #222328;
}
#takeboard>span{
    float:left;
    height:100%;
}

#takeboard>span:first-child{
    width:55%;
    padding:5px 10px;
    box-sizing:border-box;
    text-align:left;
    padding-left: 15px;
    box-sizing: border-box;
}
#takeboard>span:nth-child(2){
    width:15%;
    padding:5px 10px;
    box-sizing:border-box;
    text-align:center;
}
#takeboard>span:last-child{
    width:30%;
    padding:5px 10px;
    box-sizing:border-box;
    text-align:center;
}